#u353-3
{
	-pie-box-shadow: 1px 1px 12px #7F7F7F;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#00087F),color-stop(100%, #4E5AF8));
	background: -webkit-linear-gradient(top,#00087F ,#4E5AF8 100%);
	background: linear-gradient(to bottom,#00087F ,#4E5AF8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00087F, endColorstr=#FF4E5AF8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00087F', endColorstr='#FF4E5AF8', GradientType=0)";
	position: relative;
}

#u353-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.47), inset -1px -1px 2px rgba(0,0,0,0.47);
}

#u118-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u358
{
	background-color: #FCC900;
	border-radius: 2px;
	position: relative;
}

#u358::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u358:hover
{
	background-color: #999999;
}

#u358:active
{
	background-color: #8D8D8D;
}

#u361-4
{
	border-style: none;
	background-color: transparent;
	color: #484848;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u458
{
	background-color: #FCC900;
	border-radius: 2px;
	position: relative;
}

#u458::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u458:hover
{
	background-color: #999999;
}

#u458:active
{
	background-color: #8D8D8D;
}

#u461-4
{
	border-style: none;
	background-color: transparent;
	color: #484848;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u433
{
	background-color: #FCC900;
	border-radius: 2px;
	position: relative;
}

#u433::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u433:hover
{
	background-color: #999999;
}

#u433:active
{
	background-color: #8D8D8D;
}

#u436-4
{
	border-style: none;
	background-color: transparent;
	color: #484848;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u484
{
	background-color: #FCC900;
	border-radius: 2px;
	position: relative;
}

#u484::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u484:hover
{
	background-color: #999999;
}

#u484:active
{
	background-color: #8D8D8D;
}

#u487-4
{
	border-style: none;
	background-color: transparent;
	color: #484848;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u409
{
	background-color: #FCC900;
	border-radius: 2px;
	position: relative;
}

#u409::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u409:hover
{
	background-color: #999999;
}

#u409:active
{
	background-color: #8D8D8D;
}

#u358.MuseMenuActive,#u458.MuseMenuActive,#u433.MuseMenuActive,#u484.MuseMenuActive,#u409.MuseMenuActive
{
	background-color: #2E3192;
}

#u412-4
{
	border-style: none;
	background-color: transparent;
	color: #484848;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u358.MuseMenuActive #u361-4 p,#u458.MuseMenuActive #u461-4 p,#u433.MuseMenuActive #u436-4 p,#u484.MuseMenuActive #u487-4 p,#u409.MuseMenuActive #u412-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1542-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u125
{
	-pie-box-shadow: 6px 6px 10px #BFBFBF;
	box-shadow: 6px 6px 10px rgba(127,127,127,0.5);
	background-color: #FEC502;
	border-radius: 2px;
	position: relative;
}

#u125::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#menuu354,#u2133
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u635,#u648,#u653,#u660,#u2125
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px;
	position: relative;
}

#u636-4,#u647-4,#u652-4,#u656-4,#u2124-4
{
	background-color: transparent;
	color: #7F7F7F;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u111,#u355,#u448,#u423,#u474,#u399,#u612,#u638,#u644,#u649,#u657,#u2126
{
	background-color: transparent;
	position: relative;
}

#u718
{
	background: -webkit-gradient(linear, center top, center bottom, from(#030B83),color-stop(100%, #4753EE));
	background: -webkit-linear-gradient(top,#030B83 ,#4753EE 100%);
	background: linear-gradient(to bottom,#030B83 ,#4753EE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF030B83, endColorstr=#FF4753EE, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF030B83', endColorstr='#FF4753EE', GradientType=0)";
	position: relative;
}

#u2030-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u2030-2
{
	font-weight: bold;
}

